---

import Estructura from "../layouts/Estructura.astro"
import HeaderSecundario from "../components/HeaderSecundario.astro"

 import Footer from "../components/Footer.astro"

import BotonContacto from "../components/BotonContacto.astro"
import CardEfecto from "../components/CardEfecto.astro"
import Caractersiticas2 from "../components/Caractersiticas2.astro"
import SolucionesItem from "../components/SolucionesItem.astro"
import Caractersiticas3 from "../components/Caractersiticas3.astro"
import Formulario3 from "../components/Formulario3.astro"
import Porque from "../components/Porque.astro"
 


---

<Estructura>

<HeaderSecundario slot="header"></HeaderSecundario>



<!-- <div slot="main" class="flex flex-col p-4 pt-12 justify-center items-center xl:items-start xl:flex-row  flex-wrap max-w-[1200px] mx-auto xl:py-40">

  <CardHover></CardHover>
  <CardHover></CardHover>
  <CardHover></CardHover>
  <CardHover></CardHover>
  <CardHover></CardHover>
  <CardHover></CardHover>

</div> -->



<div class="pt-24 portada relative    overflow-hidden bg-[#024D8C] xl:h-[300px] flex justify-center items-center flex-col xl:pb-12" slot="main">

  <p class="text-[white] text-2xl py-7 font-bold xl:text-4xl text-center xl:leading-normal max-w-[1200px] mx-auto uppercase">gps para contrataciones con el estado</p>

  <!-- <a href="#solicitar"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-lg text-base w-fit sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 xl:text-[1.6rem] xl:py-[1rem] font-bold mb-12 xl:mb-0 ">Solicitar</a> -->
<!-- 
      <figure class="xl:flex-1">
          <img src="/ubicalo1.png" alt="">
      </figure> -->
<!-- 
      <a href="#" class="xl:hidden px-3 h-[50px] py-3 bg-primary text-white font-bold rounded-md text-center text-lg xl:text-lg xl:w-[fit-content]  " >Solicitar una Demo</a> -->








</div>








		
<div slot="main" class="flex flex-col p-4 pt-12 justify-center items-center xl:items-start  xl:py-32 bg-primary" >
  <div class="max-w-[1200px] mx-auto flex flex-col xl:flex-row text-white text-base">
    <div class="flex-1">
      <h2 class=" text-2xl  font-black xl:text-[2.3rem] text-white leading-tight uppercase text-center mb-4">rastreo y localización gps satelital para pnp y serenazgo</h2>
      <p class="mb-2">Contamos con retransmisión a SIPCOP-M (Sistema informático de planificación y control del patrullaje), la cual es una herramienta desarrollada por el Ministerio del Interior que interconecta GPS de vehículos policiales de las comisarías y unidades especializadas de la PNP a nivel nacional, brindándote la ubicación en tiempo real.</p>
      <p  class="mb-2 font-bold">¿En qué consiste nuestro servicio?</p>
      <p  class="mb-2">Monitoreo en tiempo real nacional, botón de pánico que debe ser presionado ante una emergencia y estará conectado a 03 contactos que nos indique el cliente. También tiene la posibilidad de establecer geocercas (zonas seguras) para controlar la entrada o salida de la unidad. Adicionalmente, podrá consultar el historial de recorrido con hasta 06 meses de antigüedad, y podrá visualizar kilómetros recorridos, cuántas paradas realizó y el detalle del movimiento. Por otro lado, puede configurar alertas por exceso de velocidad porque al respetar los límites de velocidad, se tendrá un ahorro de combustible, se mantendrán en buen estado las llantas y el vehículo se va a mantener en un estado óptimo durante más tiempo y se evitarán gastos innecesarios.</p>

      <a href="#solicitar"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-lg text-[1.2rem]   px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 xl:text-[1.2rem] xl:py-[1rem] font-bold mb-12 xl:mb-0 block w-fit mt-6 xl:mt-8">Solicitar</a>

 
    </div>

    <figure class="flex-1"><img src="/ubicalo1.webp" alt=""></figure>



  </div>
  <!-- <h2 class=" text-base xl:text-xl font-semibold text-[#273043] mb-6 xl:mb-12"> El software de rastreo GPS de vehículos que se adapta a las necesidades de sus clientes</h2>
<div class="flex flex-col xl:flex-row  xl:flex-1   gap-8 xl:gap-4 max-w-[1200px] mx-auto">

    <CardEfecto titulo="Herramientas de recuperación" descripcion="Si un deudor incumple sus obligaciones de pago, el usuario puede localizar el vehículo en tiempo real y apagar el motor, esté donde esté." img="/carro.svg"></CardEfecto>
    <CardEfecto titulo="Localización de vehículos en tiempo real" descripcion="Si los clientes abandonan el área determinada o intentan dañar localizadores GPS, el software de rastreo de vehículos LeaseControl lo detecta y avisa a los responsables permitiendo prevenir el robo de vehículos." img="/ubicacion.svg"></CardEfecto>
    <CardEfecto titulo="Solución adaptada a la industria" descripcion="Sus características complementan las operaciones de gestión de arrendamiento de autos. La solución incluye solo las herramientas esenciales para la localización y recuperación de vehículos." img="/computadora.svg"></CardEfecto>
    <CardEfecto titulo="Rápida amortización" descripcion="Las herramientas efectivas de localización de vehículos arrendados brindan ganancias a los concesionarios de compre aquí pague aquí desde el primer día de implementación de la solución reduciendo los riesgos de perder vehículos o sufrir impagos de deudores." img="/dinero.svg"></CardEfecto>





</div> -->







</div>



<div slot="main" class=" pb-12">

  <div class="p-4 py-10 xl:py-32 max-w-[1200px] mx-auto">
  
    <h2 class="text-2xl  font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center mb-4 uppercase">ventajas y funcionalidades de gps para autos y motos</h2>
  
    <div class=" flex flex-col xl:flex-row ">
  
      <ul class="mb-1 ">
        <li class="list__item xl:py-2 xl:text-base font-semibold">Rastreo Satelital GPS</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Monitoreo 24/7</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Google Maps</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">
          Plataforma Web</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">App Móvil (Android y IOS)</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Plataforma multiusuario</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Variedad de íconos</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Establecer POI’s (puntos de interés)</li>
         
    
      
    
      </ul>
          <ul class="mb-1 ">
        
        <li class="list__item xl:py-2 xl:text-base font-semibold">Alerta de Batería baja</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Alerta por Exceso de Velocidad</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Alertas por encendido / Apagado de motor Satelital GPS</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Alertas por ingreso/salida a geocercas</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Alertas por uso en horas/días no autorizados</li>
       
        <li class="list__item xl:py-2 xl:text-base font-semibold">Historial del Recorrido</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Cobertura a Nivel Nacional</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Creación de Geocercas</li>
    
        <li class="list__item xl:py-2 xl:text-base font-semibold">
          Reproducción de recorrido en el mapa</li>
    
      </ul>
  
  
  
  
  
      <ul class="mb-1 ">
        <li class="list__item xl:py-2 xl:text-base font-semibold">Exporta reportes en formato HTML, PDF y EXCEL</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Reporte de recorridos y paradas</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">
          Reporte de horas de viaje</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Reporte de exceso de velocidad</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Reporte de geocercas entradas/salidas</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Reporte de paradas
        </li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">
          Algunos reportes incluyen la opción de agregar direcciones</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Sistema GPS compatible con cualquier tipo de auto y moto</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Garantía y soporte técnico</li>
        <li class="list__item xl:py-2 xl:text-base font-semibold">Micrófono espía
        </li>
    
      
    
      </ul>
    </div>
    
  </div>
  
  
  </div>
  


<div  slot="main" class=" p-4 py-20 xl:py-32 bg-primary">
<div class="max-w-[1200px] mx-auto">

  <div >
    <h2 class=" text-2xl  font-black xl:text-[2.3rem] text-white leading-tight  text-center mb-4 uppercase">¿Por qué confiar en nosotros?</h2>
    <p class="text-white text-center mb-4 xl:mb-8">Nuestra experiencia nos respalda. Gestiona y monitorea tu vehículo con la mejor tecnología GPS del Perú</p>



</div>

    <div class="flex flex-col xl:flex-row gap-10">
    <Porque img="/mouse.svg" titulo="plataforma fácil de usar" descripcion="Tenemos un portal intuitivo y acorde con las necesidades de nuestros clientes."></Porque>

    <Porque img="/nocontrato.svg" titulo="sin contratos" descripcion="Sin restricciones, ni ataduras. Con Ubicalo GPS, usted tiene el control. "></Porque>


    <Porque img="/cel.svg" titulo="rastreo vehicular" descripcion="Para nosotros, usted es prioridad. Nuestro sistema de rastreo funciona las 24 horas, sin límite de horario. "></Porque>
    <Porque img="/presencia.svg" titulo="presencia a nivel nacional" descripcion="Ubicalo GPS abarca todo el territorio peruano."></Porque>

    </div>

</div>




</div>


<div class="max-w-[1200px] mx-auto flex flex-col xl:flex-row gap-12 items-center p-4 xl:py-32" slot="main" id="solicitar">

  <!-- <div class="flex-1">
    <h2 class="text-2xl  font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center mb-4 uppercase">sobre la instalación</h2>
    <p>
      La instalación es gratuita, y la realizamos en nuestro taller ubicado en Calle Venancio Ávila 1945 – Cercado de Lima y también vamos a domicilio sin costo adicional. El tiempo estimado de instalación es de 1 hora y 30 minutos para motos y 2 horas para autos, dependerá de la complejidad del vehículo.</p>
  </div> -->


  <div class="xl:w-[500px] mx-auto">

<h2 class="text-2xl  font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center mb-4 uppercase">¡Solicita tu servicio ahora!</h2>
<p class="mb-4">Ingresa tus datos y uno de nuestros asesores se contactará contigo.</p>
    <Formulario3 titulo="cotizar-ubicalo"></Formulario3>
  </div>
</div>

	
		










<div  slot="main" class=" p-4 py-2 bg-white xl:py-32">
	<!-- <h2 class="text-xl font-semibold text-[#273043] mb-6">Otras soluciones</h2> -->
	<h2 class="text-2xl font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center xl:text-start max-w-[1200px] mx-auto uppercase mb-4">también ofrecemos</h2>
    <div class="flex flex-col gap-8 xl:flex-row xl:flex-wrap max-w-[1200px] mx-auto">

      <!-- <SolucionesItem titulo="monitoreo y localización gps satelital para transporte de carga y pasajeros" descripcion="Rastreo GPS para la industria del financiamiento y arrendamiento automotriz." boton="Leer más" destino="/monitoreo-y-localización-gps-satelital" img="/ubicacion.svg" /> -->


 

<!-- <SolucionesItem titulo="localización gps portátil - mercancías" descripcion="La aplicación web está desarrollada para planificar y controlar los gastos relacionados con la explotación de vehículos." boton="Leer más" destino="/gestion-de-mantenimiento-tecnico" img="/mecanico.svg" /> -->


<SolucionesItem titulo="monitoreo y control de flotas para municipios" descripcion="El servicio permite crear rutas, gestionar horarios, rastrear el movimiento en tiempo real y analizar la ejecución de rutinas en una interfaz amigable." boton="Leer más" destino="/gps-para-contrataciones-con-el-estado" img="/entrega.svg" />





</div>

</div>













<div  slot="footer" class="bg-white">
  <Footer ></Footer>
</div>
 





</Estructura>











<script>






</script>



<style>

	.grupo__osb{
		background-image: linear-gradient(rgb(2, 122, 255), rgb(29, 78, 216), rgb(30, 58, 138));
	}

.efecto{
	/* clip-path: ellipse(20% 20% at 50% 0); */
	clip-path: ellipse(0% 0% at 50% 0);
	transition: clip-path 1.8s .1s;

}
/* .efecto:hover{
	clip-path: ellipse(100% 100% at 50% 0);

} */

.uno,.dos,.tres,.cinco,.seis,.siete,.cuatro,#siete,#ocho{
	transform: translateY(200px);
	opacity: 0;
	transition: transform 1s,opacity 1s;
}


	.comparacion{
		background-color: rgba(122, 252, 209, 0.055);
		
	}
	.swiper-slide.nuevo img{
		width: 386px;
	}
	.plan,.comparacion,.osb5{
		background-image: url("/fondonew.svg");
		background-size: cover;
		background-attachment: fixed;
		padding-bottom: 2.5rem;
		/* max-width: 1300px;
margin-inline: auto; */
	}
	.swiper-slide{
		background: transparent;
	}
	.swiper-slide[data-astro-cid-j7pv25f6].nuevo img[data-astro-cid-j7pv25f6]{
		width:1000px;
	}








	.confian{
               
			
			   }
			   
			   .confian__img{
			
			   }
			   @media screen and (min-width: 1200px) {
				 .confian {
				max-width: 1334px;
				margin-inline: auto;
				
				 }
			   }
			   
			   
			   .confian__titulo{
			   
			   text-align: center;
			   font-size: 1.5rem;
			   margin-bottom: 0rem;
			   }
			   
			   
			   
			   
			   
			   
			   @media screen and (min-width: 1200px) {
				 .confian__titulo {
				  font-size: 2rem;
				  line-height: 2.25rem;
				  margin-top: 4rem;
				  color: #10215b
				 }
			   }
			   
			   
			   .confian__t{
			 
			   }
			   
			   
			   .confian__logos{
			 
			   display: flex;
			   flex-wrap: wrap;
			   justify-content: center;
			   }
			   
			   
			   .confian__thumb{
			
				width:30%;
			   }
			   
			   
			   
			   
			   
			   
			   @media screen and (min-width: 1200px) {
				 .confian__thumb {
					
				 }

				 .swiper.mySwiper.osbu{
					margin-top: -9rem;
				 }
			   }
			   
			   
			   
			   
			   
			   
			   
			   .confian__img{
			   
			   }





			   			   
			   .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
			   
.item{
	display: flex;
	flex-direction: column;
	gap: .5rem;
    margin-bottom: .5rem;
}

input:not(input[type='submit']){
	border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-top: .4rem;
    padding: .3rem;
    transition: all .25s ease-in-out;
}
label{
	font-size: 1rem;
	font-weight: 500;
	color: #111439;
}


.list__item{
display: flex;
align-items: center;
}
.list__item::before{
	content: "";
	display: block;
	background-image: url(/check.svg);
	height: 30px;
	width: 30px;
	background-size: cover;
}


.portada{
  background-image: url(/lc.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center ;
} 

</style>

