---

import Estructura from "../layouts/Estructura.astro"
import HeaderSecundario from "../components/HeaderSecundario.astro"

 import Footer from "../components/Footer.astro"

import BotonContacto from "../components/BotonContacto.astro"
import CardEfecto from "../components/CardEfecto.astro"
import Caractersiticas2 from "../components/Caractersiticas2.astro"
import SolucionesItem from "../components/SolucionesItem.astro"
import Porque from "../components/Porque.astro"
import Formulario3 from "../components/Formulario3.astro"
import Preguntas from "../components/Preguntas.astro"



---

<Estructura>

<HeaderSecundario slot="header"></HeaderSecundario>


<div class="pt-24 portada relative    overflow-hidden bg-[#024D8C] xl:h-[300px] flex justify-center items-center flex-col " slot="main">

    <p class="text-[white] text-2xl py-7 font-bold xl:text-4xl text-center xl:leading-normal max-w-[1200px] mx-auto">SERVICIO TRÁFICO IOT - M2M</p>


    <!-- <a href="#solicitar"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-lg text-base w-fit sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 xl:text-[1.6rem] xl:py-[1rem] font-bold mb-12 xl:mb-0 ">Solicitar</a> -->
<!-- 
        <figure class="xl:flex-1">
            <img src="/ubicalo1.png" alt="">
        </figure> -->
<!-- 
        <a href="#" class="xl:hidden px-3 h-[50px] py-3 bg-primary text-white font-bold rounded-md text-center text-lg xl:text-lg xl:w-[fit-content]  " >Solicitar una Demo</a> -->








</div>


<div slot="main" class="flex flex-col p-4 pt-12 justify-center items-center xl:items-start  xl:py-32 bg-primary" >
  <div class="max-w-[1200px] mx-auto flex flex-col xl:flex-row text-white text-base">
    <div class="flex-1">
      <h2 class=" text-2xl  font-black xl:text-[2.3rem] text-white leading-tight uppercase text-center mb-4">proveedores de tráfico mayorista para empresas gps satelital</h2>
      <p class="mb-2">Somos una empresa que brinda el servicio de tráfico mayorista para empresas GPS Satelital en Perú desde el 2017, servicio de navegación, llamadas y sms para dispositivos, contamos con presencia a nivel nacional, actualmente brindamos servicio a más de 30k clientes, nuestro camino es brindar conectividad a miles de objetos que nos permitirán aprovechar al máximo todos los aspectos de nuestra vida.</p>
      <p  class="mb-2">Ubicalo la conexión que tu negocio necesita para aumentar la eficiencia y proteger tus activos, incluso a distancia, con nuestros servicios podrás comunicar tus dispositivos a través de internet (IoT). Incorpora IoT en tu empresa y conecta tus dispositivos con nuestros planes Ubicalo, orientado a negocios de seguridad, servicios financieros, máquinas de vending, automoción, contadores, etc.</p>
      <p  class="mb-2">Las soluciones de comunicación M2M están diseñadas para las empresas que necesiten controlar, conectar y obtener información en tiempo real de su red logística y de distribución con una buena conexión de sus máquinas para mejorar sus procesos operativos y de negocio.</p>
      <a href="#solicitar"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-lg text-[1.2rem]   px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 xl:text-[1.2rem] xl:py-[1rem] font-bold mb-12 xl:mb-0 block w-fit mt-6 xl:mt-8">Solicitar</a>


    </div>

    <figure class="flex-1"><img src="/ubicalo1.webp" alt=""></figure>



  </div>








</div>



<div slot="main" class=" pb-12">

<div class="p-4 py-10 xl:py-32 max-w-[1200px] mx-auto">

  <h2 class="text-2xl  font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center mb-4 uppercase">Suelen pertenecer a las siguientes categorías :</h2>

  <div class=" flex flex-col xl:flex-row ">

    <ul class="mb-1 flex-1 ">
      <li class="list__item xl:py-2 xl:text-base font-semibold">Máquinas de vending</li>
      <li class="list__item xl:py-2 xl:text-base font-semibold">Telemetría E-Health
      </li>
     
    </ul>

    <ul class="mb-1 flex-1">
      <li class="list__item xl:py-2 xl:text-base font-semibold">Servicios financieros</li>
      <li class="list__item xl:py-2 xl:text-base font-semibold">Utilities y Smart Metering
      </li>
      
  
    </ul>





    <ul class="mb-1 flex-1">
      <li class="list__item xl:py-2 xl:text-base font-semibold">Gestión de Flotas
      </li>
      <li class="list__item xl:py-2 xl:text-base font-semibold">Seguridad</li>
      
  
    </ul>
  </div>
  
</div>


</div>


<div  slot="main" class=" p-4 py-20 xl:py-32 bg-primary">
<div class="max-w-[1200px] mx-auto">

  <div >
    <h2 class=" text-2xl  font-black xl:text-[2.3rem] text-white leading-tight  text-center mb-4 uppercase">¿Por qué confiar en nosotros?</h2>
    <p class="text-white text-center mb-4 xl:mb-8">Nuestra experiencia nos respalda. Gestiona y monitorea tu vehículo con la mejor tecnología GPS del Perú</p>



</div>

    <div class="flex flex-col xl:flex-row gap-10">
    <Porque img="/mouse.svg" titulo="plataforma fácil de usar" descripcion="Tenemos un portal intuitivo y acorde con las necesidades de nuestros clientes."></Porque>

    <Porque img="/nocontrato.svg" titulo="sin contratos" descripcion="Sin restricciones, ni ataduras. Con Ubicalo GPS, usted tiene el control. "></Porque>


    <Porque img="/cel.svg" titulo="rastreo vehicular" descripcion="Para nosotros, usted es prioridad. Nuestro sistema de rastreo funciona las 24 horas, sin límite de horario. "></Porque>
    <Porque img="/presencia.svg" titulo="presencia a nivel nacional" descripcion="Ubicalo GPS abarca todo el territorio peruano."></Porque>

    </div>

</div>




</div>


<div class="max-w-[1200px] mx-auto flex flex-col xl:flex-row gap-12 items-start p-4 xl:py-32" slot="main" id="solicitar">

  <!-- <div class="flex-1">
    <div id="preguntas" class="preguntas flex flex-col gap-5   " >

      <div class="max-w-[1200px] xl:mx-auto ">
      
      
          <h2 class="text-2xl font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center">Planes persona</h2>
      
      
          <div class="flex flex-col gap-4 xl:flex-row  xl:flex xl:flex-wrap xl:gap-8 xl:mt-8 pt-5">
      
      
              <div id="uno" class="xl:w-[43%]">
                  <Preguntas img="/campana.svg" pregunta="PLATAFORMA MULTIUSUARIO" descripcion="En Inkacel GPS tenemos el mejor sistema operativo para el uso y procesamiento de múltiples usuarios en simultáneo. "></Preguntas>
              </div>
          
              <div id="dos"  class="xl:w-[43%]">
                  <Preguntas img="/campana.svg" pregunta="CREACIÓN DE ALERTAS" descripcion="Configura y programa distintos tipos de alertas para un monitoreo personalizado de tu vehículo."></Preguntas>
              </div>
          
          
          
              <div id="tres"  class="xl:w-[43%]">
                  <Preguntas img="/campana.svg" pregunta="CREACIÓN DE GEOCERCAS" descripcion="Establece límites geográficos de desplazamiento de tu vehículo a través de puntos de referencia. "></Preguntas>
              </div>
          
          
          
          
              <div id="cuatro"  class="xl:w-[43%]">
                  <Preguntas img="/campana.svg"  pregunta="EXPORTAR REPORTES EN FORMATO HTML, PDF Y EXCEL" descripcion="Descarga el historial de movimiento de tu vehículo de manera semanal o mensual. Se podrán visualizar los kilómetros recorridos, máximos de velocidad, el consumo y coste del combustible y mucho más. "></Preguntas>
              </div>
          
          
          
           <div id="cinco"  class="xl:w-[43%]">
                  <Preguntas img="/campana.svg" pregunta="GUARDAR PUNTOS DE INTERÉS" descripcion="Resalta los lugares más concurridos en tu vida diaria: casas, oficinas, centros comerciales, etc."></Preguntas>
              </div>
          
               <div id="seis2"  class="xl:w-[43%]">
                  <Preguntas img="/campana.svg" pregunta="ENVIAR COMANDOS" descripcion="Controla tu vehículo a través del envío de restricciones y el establecimiento de un horario de uso. Así, podrás apagar o reanudar el motor de manera remota."></Preguntas>
              </div>
          
          
            
          </div>
          
          
      
      
      </div>
      </div>
  </div>  -->


  <div class="xl:w-[500px] mx-auto p-4 xl:p-0">

<h2 class="text-2xl  font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center mb-4 uppercase">¡Solicita tu servicio ahora!</h2>
<p class="mb-4">Ingresa tus datos y uno de nuestros asesores se contactará contigo.</p>
    <Formulario3 titulo="cotizar-ubicalo"></Formulario3>
  </div>
</div>

























<div  slot="footer" class="bg-white">
  <Footer ></Footer>
</div>
 





</Estructura>











<script>






</script>



<style>

	.grupo__osb{
		background-image: linear-gradient(rgb(2, 122, 255), rgb(29, 78, 216), rgb(30, 58, 138));
	}

.efecto{
	/* clip-path: ellipse(20% 20% at 50% 0); */
	clip-path: ellipse(0% 0% at 50% 0);
	transition: clip-path 1.8s .1s;

}
/* .efecto:hover{
	clip-path: ellipse(100% 100% at 50% 0);

} */

.uno,.dos,.tres,.cinco,.seis,.siete,.cuatro,#siete,#ocho{
	transform: translateY(200px);
	opacity: 0;
	transition: transform 1s,opacity 1s;
}


	.comparacion{
		background-color: rgba(122, 252, 209, 0.055);

	}
	.swiper-slide.nuevo img{
		width: 386px;
	}
	.plan,.comparacion,.osb5{
		background-image: url("/fondonew.svg");
		background-size: cover;
		background-attachment: fixed;
		padding-bottom: 2.5rem;
		/* max-width: 1300px;
margin-inline: auto; */
	}
	.swiper-slide{
		background: transparent;
	}
	.swiper-slide[data-astro-cid-j7pv25f6].nuevo img[data-astro-cid-j7pv25f6]{
		width:1000px;
	}








	.confian{


			   }

			   .confian__img{

			   }
			   @media screen and (min-width: 1200px) {
				 .confian {
				max-width: 1334px;
				margin-inline: auto;

				 }
			   }


			   .confian__titulo{

			   text-align: center;
			   font-size: 1.5rem;
			   margin-bottom: 0rem;
			   }






			   @media screen and (min-width: 1200px) {
				 .confian__titulo {
				  font-size: 2rem;
				  line-height: 2.25rem;
				  margin-top: 4rem;
				  color: #10215b
				 }
			   }


			   .confian__t{

			   }


			   .confian__logos{

			   display: flex;
			   flex-wrap: wrap;
			   justify-content: center;
			   }


			   .confian__thumb{

				width:30%;
			   }






			   @media screen and (min-width: 1200px) {
				 .confian__thumb {

				 }

				 .swiper.mySwiper.osbu{
					margin-top: -9rem;
				 }
			   }







			   .confian__img{

			   }






			   .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.item{
	display: flex;
	flex-direction: column;
	gap: .5rem;
    margin-bottom: .5rem;
}

input:not(input[type='submit']){
	border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-top: .4rem;
    padding: .3rem;
    transition: all .25s ease-in-out;
}
label{
	font-size: 1rem;
	font-weight: 500;
	color: #111439;
}


.list__item{
display: flex;
align-items: center;
column-gap: .65rem;

} 
.list__item::before{
	content: "";
	display: block;
	background-image: url(/check.svg);
	height: 30px;
	width: 30px;
}


.portada{
  background-image: url(/im2.webp);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center ;
}

</style>

<!-- <script>
  document.addEventListener("click",(e)=>{
      const uno=e.target as HTMLElement
     
      const f=document.querySelector("form") as HTMLFormElement
      console.log(uno)
  if(uno.matches("#uno h3") || uno.matches("#uno img") ){
    console.log("unoo")
      const flecha=document.querySelector("#uno img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#uno p") as HTMLElement
  
     el.classList.toggle("ver")
  }
  
  
  
  
  else if(uno.matches("#dos h3") || uno.matches("#dos img") ){
    console.log("doso")
      const flecha=document.querySelector("#dos img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#dos p") as HTMLElement
  
     el.classList.toggle("ver")
  }
  
  
  
  else if(uno.matches("#tres h3") || uno.matches("#tres img") ){
    console.log("treso")
      const flecha=document.querySelector("#tres img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#tres p") as HTMLElement
  
     el.classList.toggle("ver")
  }
  
  
  
  else if(uno.matches("#cuatro h3") || uno.matches("#cuatro img") ){
    console.log("cuatroo")
      const flecha=document.querySelector("#cuatro img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#cuatro p") as HTMLElement
  
     el.classList.toggle("ver")
  }
  
  
  else if(uno.matches("#cinco h3") || uno.matches("#cinco img") ){
    console.log("cincoo")
      const flecha=document.querySelector("#cinco img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#cinco p") as HTMLElement
  
     el.classList.toggle("ver")
  }
  
  
  
  
  else if(uno.matches("#seis2 h3") || uno.matches("#seis2 img") ){
    console.log("seiso")
      const flecha=document.querySelector("#seis2 img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#seis2 p") as HTMLElement
  
     el.classList.toggle("ver")
     console.log("innnnnn")
  }
  
  
  
  
  // else if(uno.matches("#siete h3") || uno.matches("#siete img") ){
  //   console.log("sieteo")
  //     const flecha=document.querySelector("#siete img") as HTMLElement
  //     flecha.classList.toggle("rotacion")
  //    const el= document.querySelector("#siete p") as HTMLElement
  
  //    el.classList.toggle("ver")
  // }
  
  
  
  // else if(uno.matches("#ocho h3") || uno.matches("#ocho img") ){
  //   console.log("ochoo")
  //     const flecha=document.querySelector("#ocho img") as HTMLElement
  //     flecha.classList.toggle("rotacion")
  //    const el= document.querySelector("#ocho p") as HTMLElement
  
  //    el.classList.toggle("ver")
  // }
  







  else if(uno.matches("#ocho h3") || uno.matches("#nueve img") ){
    console.log("ochoo")
      const flecha=document.querySelector("#nueve img") as HTMLElement
      flecha.classList.toggle("rotacion")
     const el= document.querySelector("#nueve p") as HTMLElement
  
     el.classList.toggle("ver")
  }
  
  // else if(uno.matches("#mensual")){
  
  //     const mensual=document.getElementById("mensual") as HTMLElement
  //     const anual=document.getElementById("anual") as HTMLElement
  
  //     mensual.classList.toggle("act")
  //     anual.classList.remove("act")
  // }
  
  
  // else if(uno.matches("#anual")){
  
  // const mensual=document.getElementById("mensual") as HTMLElement
  // const anual=document.getElementById("anual") as HTMLElement
  
  // anual.classList.toggle("act")
  // mensual.classList.remove("act")
  // }
  
  
  // else if(uno.matches("#mostrar")){
  // e.preventDefault()
  // const todo=document.getElementById("mostrarTodo") as HTMLElement
  
  // // todo.style.overflow="auto"
  // // todo.style.height="4460px"
  // // uno.textContent="ver menos"
  
  
  // if(uno.textContent==="Ver menos módulos"){
  //     todo.style.height="630px"
  //     console.log("-")
  //     uno.textContent="Ver más módulos"
  // }
  // else if(uno.textContent==="Ver más módulos"){
     
  // todo.style.height="4460px"
  // uno.textContent="Ver menos módulos"
  // console.log("+")
  // }
  // }
  
  
  })
  
    
  //   const uno=document.getElementById("uno") as HTMLElement
  // const dos=document.getElementById("dos") as HTMLElement
  // const tres=document.getElementById("tres") as HTMLElement
  // const cuatro=document.getElementById("cuatro") as HTMLElement
  //  const cinco=document.getElementById("cinco") as HTMLElement
  // const seis=document.getElementById("seis") as HTMLElement
  //  const siete=document.getElementById("siete") as HTMLElement
  // window.addEventListener("scroll",(e)=>{
  //     let scrollPos = window.scrollY + window.innerHeight;
  //     // let elementoPos = headerMain.offsetTop + headerMain.offsetHeight / 1.5;
  //   let elementoUno = uno.offsetTop + uno.offsetHeight / 1.5;
  //   let elementoDos = dos.offsetTop + uno.offsetHeight / 1.5;
  //   let elementoTres = tres.offsetTop + uno.offsetHeight / 1.5;
  //   let elementoCuatro = cuatro.offsetTop + uno.offsetHeight / 1.5;
  //   let elementoCinco = cinco.offsetTop + uno.offsetHeight / 1.5;
  //    let elementoSeis = seis.offsetTop + uno.offsetHeight / 1.5;
  //   //  let elementoSiete = siete.offsetTop + uno.offsetHeight / 1.5;
  //   // let elementoOcho = ocho.offsetTop + uno.offsetHeight / 1.5;
  //   // let elementoSiete = siete.offsetTop + uno.offsetHeight / 1.5;
  // // console.log(scrollY,elementoPos)
    
  
  
    
  //   if(scrollPos > elementoUno){
  //     // uno.style.transform="translateY(0)"
  //     // uno.style.opacity="1"
  //   }
  
  
  
  //   if(scrollPos > elementoDos){
  //     // dos.style.transform="translateY(0)"
  //     // dos.style.opacity="1"
  //   }
  
  
  
  
  //   if(scrollPos > elementoTres){
  //     tres.style.transform="translateY(0)"
  //     tres.style.opacity="1"
  //   }
  
  
  //   if(scrollPos > elementoCuatro){
  //     cuatro.style.transform="translateY(0)"
  //     cuatro.style.opacity="1"
  //   }
  
  
  
  //    if(scrollPos > elementoCinco){
  //    	cinco.style.transform="translateY(0)"
  //    	cinco.style.opacity="1"
  //    }
  
  
  
  //     if(scrollPos > elementoSeis){
  //     	seis.style.transform="translateY(0)"
  //     	seis.style.opacity="1"
  //     }
  
  
  
  
  
  //   // if(scrollPos > elementoSiete){
  //   // 	siete.style.transform="translateY(0)"
  //   // 	siete.style.opacity="1"
  //   // }
  
  
  
  //   // if(scrollPos > elementoOcho){
  //   // 	ocho.style.transform="translateY(0)"
  //   // 	ocho.style.opacity="1"
  //   // }
  
  //   // if(scrollPos > elementoSiete){
  //   // 	siete.style.transform="translateY(0)"
  //   // 	siete.style.opacity="1"
  //   // }
  
  
  
  
    
  
  
  
  
  // })
  
  
  </script> -->