---
import Botones from "./Botones.astro";
---

<div  class="max-w-[1200px] mx-auto p-4 pt-20 pb-12">
	<h2 class="text-xl font-semibold text-[#273043] mb-6"> Caracteristicas</h2>
	<!-- <p>La aplicación sirve para conectar y configurar rápida y fácilmente cualquier número de empleados al sistema de rastreo satelital.</p> -->






	<div class="md:flex">
		<ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500  md:me-4 mb-4 md:mb-0 xl:w-[322px]">
			<li class="cursor-pointer">
				<a id="uno" href="#" class="inline-flex items-center px-4 py-3 text-white bg-primary rounded-lg active w-full " aria-current="page">
                  
					</svg>
				
					Configuración
				</a>
			</li>
			<li  class="cursor-pointer" >
				<a id="dos" ="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full ">
					<!-- <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18"><path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/></svg> -->
					
					Acceso remoto a Ubicalo

				</a>
			</li>
			<li  class="cursor-pointer">
				<a href="#" id="tres"  class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  ">
					
<!-- <svg  xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 me-2 text-gray-500" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" /><path d="M11 4h2" /><path d="M12 17v.01" /></svg> -->
Envío masivo de configuración				</a>
			</li>
			<li  class="cursor-pointer">
				<a id="cuatro" href="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  ">
					<!-- <svg class="w-4 h-4 me-2 text-gray-500 " xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shareplay"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 18a3 3 0 0 0 3 -3v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8a3 3 0 0 0 3 3" /><path d="M9 20h6l-3 -5z" /></svg> -->
					Código QR para autorización
					
				</a>
			</li>
		
		</ul>
		<div id="descripcion" class="p-4 xl:p-6 bg-gray-50 text-medium text-gray-500  rounded-lg w-full text-center">
			<h3 class="text-lg font-bold text-gray-900 mb-2">
				Configuración</h3>
			<p class="mb-2">En Configurator se puede establecer los parámetros necesarios para diagnosticar y configurar el seguimiento GPS.




			</p>
			<figure class="mt-4">
				<img src="/maqueta.png"class="w-[80%] xl:w-[60%] block mx-auto" alt="">
			</figure>
			<!-- <ul class="mb-5 ">
				<li class="list__item">Solución fiable para cualquier industria</li>
				<li class="list__item">Adecuada para proveedores nuevos y experimentados</li>
				<li class="list__item">Inicio rápido de su negocio telemático</li>
			</ul>
			<p>También están disponibles las siguientes modificaciones: posición del mapa después de iniciar la sesión en el sistema, enlace a la versión de prueba en la página de inicio de sesión, lista de idiomas de la interfaz, personalización de informes.</p> 
			<p class="mb-7">¿Desea aprovechar la opción de marca blanca? No dude en solicitarla ahora mismo.</p> -->
			<!-- <Botones link="#" title="Conocer más"></Botones> -->
		</div>
	</div>
	
	











	
</div>


<script>

const uno =document.getElementById("uno") as HTMLElement
const dos =document.getElementById("dos") as HTMLElement
const tres =document.getElementById("tres") as HTMLElement
const cuatro =document.getElementById("cuatro") as HTMLElement

const descripcion =document.getElementById("descripcion") as HTMLElement

// const img1=document.querySelector("#uno svg") as SVGAElement
// const img2=document.querySelector("#dos svg") as SVGAElement
// const img3=document.querySelector("#tres svg") as SVGAElement
// const img4=document.querySelector("#cuatro svg") as SVGAElement
// const img5=document.querySelector("#cinco svg") as SVGAElement
// const img6=document.querySelector("#seis svg") as SVGAElement
// const img7=document.querySelector("#siete svg") as SVGAElement

document.addEventListener("click",(e:Event)=>{
  
    console.log(e.target)
    const elemento=e.target as HTMLElement
    if(elemento.matches("#uno")){
        e.preventDefault()
        uno.style.background="#7605f9"
uno.style.color="white"


dos.style.background="white"
dos.style.color="#6B7280"




tres.style.background="white"
tres.style.color="#6B7280"



cuatro.style.background="white"
cuatro.style.color="#6B7280"


// img7.style.fill="#6B7280"












descripcion.innerHTML=`<h3 class="text-lg font-bold text-gray-900 mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="47:53">
Configuración</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="48:20">En Configurator se puede establecer los parámetros necesarios para diagnosticar y configurar el seguimiento GPS.
</p> <figure class="mt-4" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="51:25"> <img src="/maqueta.png" class="w-[80%] xl:w-[60%] block mx-auto" alt="" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="52:6"> </figure>   `

    }

    else if(elemento.matches("#dos")){
        e.preventDefault()
        dos.style.background="#7605f9"
dos.style.color="white"


uno.style.background="white"
uno.style.color="#6B7280"




tres.style.background="white"
tres.style.color="#6B7280"



cuatro.style.background="white"
cuatro.style.color="#6B7280"





// img7.style.fill="#6B7280"






descripcion.innerHTML=`<h3 class="text-lg font-bold text-gray-900 mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="47:53">
Acceso remoto a Ubicalo</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="48:20">Ya no tiene que solicitar datos a los empleados: puede obtener información sobre el trabajo de la aplicación en cualquier momento.
</p> <figure class="mt-4" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="51:25"> <img src="/maqueta.png" class="w-[80%] xl:w-[60%] block mx-auto" alt="" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="52:6"> </figure> `








    }



    else if(elemento.matches("#tres")){

        e.preventDefault()

        tres.style.background="#7605f9"
tres.style.color="white"


uno.style.background="white"
uno.style.color="#6B7280"




dos.style.background="white"
dos.style.color="#6B7280"



cuatro.style.background="white"
cuatro.style.color="#6B7280"




// img7.style.fill="#6B7280"


descripcion.innerHTML=` <h3 class="text-lg font-bold text-gray-900 mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="47:53">Envío masivo de configuración</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="48:20">La configuración se envía a cualquier número de teléfonos inteligentes, para que no deba completar manualmente el archivo de configuración y enviarlo a cada dispositivo por separado.

</p> <figure class="mt-4" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="51:25"> <img src="/maqueta.png" class="w-[80%] xl:w-[60%] block mx-auto" alt="" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="52:6"> </figure> `











}



else if(elemento.matches("#cuatro")){


    e.preventDefault()

        cuatro.style.background="#7605f9"
cuatro.style.color="white"


uno.style.background="white"
uno.style.color="#6B7280"




dos.style.background="white"
dos.style.color="#6B7280"



tres.style.background="white"
tres.style.color="#6B7280"





descripcion.innerHTML=`<h3 class="text-lg font-bold text-gray-900 mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="47:53">Código QR para autorización</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="48:20">Proporciona la autorización rápida en la aplicación para el usuario y una transferencia instantánea de la configuración preparada a la cuenta.


</p> <figure class="mt-4" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="51:25"> <img src="/maqueta.png" class="w-[80%] xl:w-[60%] block mx-auto" alt="" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas3.astro" data-astro-source-loc="52:6"> </figure>   `





















}



    

})



</script>