---
import Botones from "./Botones.astro";
---

<div  class="max-w-[1200px] mx-auto p-4 py-20">
	<h2 class="text-xl font-semibold text-[#273043] mb-6"> Especialistas en rastreo vehicular</h2>

	<h2 class="text-2xl font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center mb-8">Tecnología de vanguardia a tu alcance. Herramientas de rastreo de alta precisión.</h2>




	<div class="md:flex">
		<ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500  md:me-4 mb-4 md:mb-0">
			<li class="cursor-pointer">
				<button id="uno"  class="inline-flex items-center px-4 py-3 text-white bg-primary rounded-lg active w-full text-start" aria-current="page">
                    <svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 20 20">
						<path d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"/>
						<path d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"/>
					</svg>
					¿Por qué escogernos?
				</button>
			</li>
			<li  class="cursor-pointer" >
				<button id="dos"  class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full ">
					<svg class="w-4 h-4 me-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18"><path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/></svg>
					
Localización GPS
				</button>
			</li>
			<li  class="cursor-pointer">
				<button  id="tres"  class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  text-start">
					
<svg  xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 me-2 text-gray-500" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" /><path d="M11 4h2" /><path d="M12 17v.01" /></svg>
					Rastreo vehicular empresarial
				</button>
			</li>
			<!-- <li  class="cursor-pointer">
				<button id="cuatro"  class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  ">
					<svg class="w-4 h-4 me-2 text-gray-500 " xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shareplay"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 18a3 3 0 0 0 3 -3v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8a3 3 0 0 0 3 3" /><path d="M9 20h6l-3 -5z" /></svg>
					Independiente de hardware
				</button>
			</li> -->
			<!-- <li  class="cursor-pointer">
				<a id="cinco" href="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  ">
					<svg class="w-4 h-4 me-2 text-gray-500 " stroke-width="3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"/>
						<path d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"/>
					</svg>
					Plataforma para desarrolladores
				</a>
			</li> -->


			<!-- <li  class="cursor-pointer">
				<button  id="cinco" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  ">
				
<svg  xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 me-2 "  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-share"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M8.7 10.7l6.6 -3.4" /><path d="M8.7 13.3l6.6 3.4" /></svg>
					Aplicaciones
				</button>
			</li> -->





			<!-- <li  class="cursor-pointer">
				<a href="#"  id="seis" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full  ">
					
<svg  xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 me-2 text-gray-500 " viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings-automation"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M10 9v6l5 -3z" /></svg>
					Marca blanca de Ubicalo
				</a>
			</li> -->
		</ul>
		<div id="descripcion" class="p-4 xl:p-6 bg-gray-50 text-medium text-gray-500  rounded-lg w-full">
			<h3 class="text-lg font-bold text-gray-900  mb-2">¿Por qué escogernos?</h3>
			<p class="mb-2">Contamos con amplia experiencia en la instalación de servicios de gps y rastreo vehicular en el mercado peruano, tenemos los mejores precios o planes, además contamos con amplia experiencia en la instalación de servicios de GPS y rastreo vehícular en el Perú.</p>
			<!-- <ul class="mb-5 ">
				<li class="list__item">- Solución fiable para cualquier industria</li>
				<li class="list__item">- Adecuada para proveedores nuevos y experimentados</li>
				<li class="list__item">- Inicio rápido de su negocio telemático</li>
			</ul> -->
			<p>Nuestras soluciones están respaldas por una robusta red satelital e implementadas con tecnología de punta.</p> 
			<p class="my-1">Estamos presente en la mayor parte del territorio nacional lo cual nos permite ofrecer una rápida y certera atención post venta convirtiéndonos en la mejor solución de rastreo vehicular del Perú.</p>
			<!-- <Botones link="#" title="Conocer más"></Botones> -->
		</div>
	</div>
	
	











	
</div>


<script>

const uno =document.getElementById("uno") as HTMLElement
const dos =document.getElementById("dos") as HTMLElement
const tres =document.getElementById("tres") as HTMLElement
// const cuatro =document.getElementById("cuatro") as HTMLElement
// const cinco =document.getElementById("cinco") as HTMLElement
// const seis =document.getElementById("seis") as HTMLElement
// const siete =document.getElementById("siete") as HTMLElement
const descripcion =document.getElementById("descripcion") as HTMLElement

const img1=document.querySelector("#uno svg") as SVGAElement
const img2=document.querySelector("#dos svg") as SVGAElement
const img3=document.querySelector("#tres svg") as SVGAElement
// const img4=document.querySelector("#cuatro svg") as SVGAElement
// const img5=document.querySelector("#cinco svg") as SVGAElement
// const img6=document.querySelector("#seis svg") as SVGAElement
// const img7=document.querySelector("#siete svg") as SVGAElement

document.addEventListener("click",(e:Event)=>{
  
    console.log(e.target)
    const elemento=e.target as HTMLElement
    if(elemento.matches("#uno")){
        e.preventDefault()
        uno.style.background="#7605f9"
uno.style.color="white"
img1.style.fill="white"

dos.style.background="white"
dos.style.color="#6B7280"
img2.style.fill="#6B7280"



tres.style.background="white"
tres.style.color="#6B7280"
img3.style.fill="white"


// cuatro.style.background="white"
// cuatro.style.color="#6B7280"
// img4.style.fill="white"



// cinco.style.background="white"
// cinco.style.color="#6B7280"
// img5.style.fill="#6B7280"








// siete.style.background="white"
// siete.style.color="#6B7280"
// img7.style.fill="#6B7280"

descripcion.innerHTML=` <h3 class="text-lg font-bold text-gray-900  mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="84:69">	¿Por qué escogernos?</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="85:20">Contamos con amplia experiencia en la instalación de servicios de gps y rastreo vehicular en el mercado peruano, tenemos los mejores precios o planes, además contamos con amplia experiencia en la instalación de servicios de GPS y rastreo vehícular en el Perú.</p> 


	
	<p data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="91:7">Nuestras soluciones están respaldas por una robusta red satelital e implementadas con tecnología de punta.</p> <p class="my-1" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="92:20">Estamos presente en la mayor parte del territorio nacional lo cual nos permite ofrecer una rápida y certera atención post venta convirtiéndonos en la mejor solución de rastreo vehicular del Perú.</p>   `

    }

    else if(elemento.matches("#dos")){
        e.preventDefault()
        dos.style.background="#7605f9"
dos.style.color="white"
img2.style.fill="white"

uno.style.background="white"
uno.style.color="#6B7280"
img1.style.fill="#6B7280"



tres.style.background="white"
tres.style.color="#6B7280"
img3.style.fill="white"


// cuatro.style.background="white"
// cuatro.style.color="#6B7280"
// img4.style.fill="white"



// cinco.style.background="white"
// cinco.style.color="#6B7280"
// img5.style.fill="white"




// seis.style.background="white"
// seis.style.color="#6B7280"
// img6.style.fill="white"



// siete.style.background="white"
// siete.style.color="#6B7280"
// img7.style.fill="#6B7280"






descripcion.innerHTML=` <h3 class="text-lg font-bold text-gray-900  mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="84:69">Localización GPS</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="85:20">El Sistema de Posicionamiento Global (GPS) consiste en un método para la localización de vehículos alrededor del planeta.</p> <p data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="91:7">Mediante mapas digitalizados y equipos de última generación, permite el monitoreo de salida y llegada de tu auto, verificación de velocidad, detalle de paradas realizadas, reportes de historial, bloqueo del motor y muchos más beneficios.</p> `








    }



    else if(elemento.matches("#tres")){

        e.preventDefault()

        tres.style.background="#7605f9"
tres.style.color="white"
img3.style.fill="white"

uno.style.background="white"
uno.style.color="#6B7280"
img1.style.fill="#6B7280"



dos.style.background="white"
dos.style.color="#6B7280"
img2.style.fill="#6B7280"


// cuatro.style.background="white"
// cuatro.style.color="#6B7280"
// img4.style.fill="white"



// cinco.style.background="white"
// cinco.style.color="#6B7280"
// img5.style.fill="#6B7280"




// seis.style.background="white"
// seis.style.color="#6B7280"
// img6.style.fill="white"



// siete.style.background="white"
// siete.style.color="#6B7280"
// img7.style.fill="#6B7280"




descripcion.innerHTML=` 
<h3 class="text-lg font-bold text-gray-900  mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="84:69">Rastreo vehicular empresarial</h3>
<p>El servicio de localización GPS para las flotas empresariales permite un monitoreo y control eficaz de sus vehículos en todo el territorio nacional.</p>

<p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="85:20">Por ello, te ofrecemos una cuenta multiusuario o la opción de crear cuentas paralelas, botón SOS para solicitar ayuda, micrófono espía, reporte a SUTRAN sin costo adicional, capacitación sobre el uso de la plataforma y más.</p> 

<p class="mb-7" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="92:20"><strong>Recuerda:</strong> la instalación de Inkacel GPS es gratuita.</p> `











}



// else if(elemento.matches("#cuatro")){


//     e.preventDefault()

//         cuatro.style.background="#7605f9"
// cuatro.style.color="white"
// img4.style.fill="white"

// uno.style.background="white"
// uno.style.color="#6B7280"
// img1.style.fill="#6B7280"



// dos.style.background="white"
// dos.style.color="#6B7280"
// img2.style.fill="#6B7280"


// tres.style.background="white"
// tres.style.color="#6B7280"
// img3.style.fill="white"



// cinco.style.background="white"
// cinco.style.color="#6B7280"
// img5.style.fill="#6B7280"




// // seis.style.background="white"
// // seis.style.color="#6B7280"
// // img6.style.fill="white"



// // siete.style.background="white"
// // siete.style.color="#6B7280"
// // img7.style.fill="#6B7280"



// descripcion.innerHTML=` <h3 class="text-lg font-bold text-gray-900  mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="84:69">Independiente de hardware
// </h3> 


// <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="85:20">El sistema de seguimiento de vehículos es compatible con más de 3,300 tipos de dispositivos. Los socios de Ubicalo pueden trabajar con cualquier equipo, configurarlo rápida y fácilmente y ofrecer nuevos modelos de hardware a sus clientes.</p> 


	
// 	<p data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="91:7">Ubicalo soporta hardware para vehículos, maquinaria especial, unidades estacionarias, personas de numerosos fabricantes de GPS. Los sensores adicionales mostrarán tales datos como temperatura, peso, inclinación, ubicación de mecanismos y muchos otros parámetros de seguimiento.</p> 
	
	
// 	<p class="mb-7" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="92:20">Compruebe la compatibilidad de Ubicalo con los dispositivos de su cliente.</p>   `





















// }

// else if(elemento.matches("#cinco")){

	
//     e.preventDefault()

//         cinco.style.background="#7605f9"
// cinco.style.color="white"
// img5.style.fill="white"

// uno.style.background="white"
// uno.style.color="#6B7280"
// img1.style.fill="#6B7280"



// dos.style.background="white"
// dos.style.color="#6B7280"
// img2.style.fill="#6B7280"


// tres.style.background="white"
// tres.style.color="#6B7280"
// img3.style.fill="white"



// cuatro.style.background="white"
// cuatro.style.color="#6B7280"
// img4.style.fill="white"




// // seis.style.background="white"
// // seis.style.color="#6B7280"
// // img6.style.fill="white"



// // siete.style.background="white"
// // siete.style.color="#6B7280"
// // img7.style.fill="#6B7280"



// descripcion.innerHTML=` <h3 class="text-lg font-bold text-gray-900  mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="84:69">Aplicaciones
// </h3> 


// <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="85:20">Ubicalo cubre el 99% de las necesidades de los clientes de seguimiento satelital. El 1% restante corresponde a las tareas especializadas que tiene todo negocio. Por lo tanto, los usuarios pueden completar Ubicalo con una de las veinte aplicaciones web gratuitas y obtener la solución deseada.</p> 


	
// 	<p data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="91:7">Existe una amplia variedad de aplicaciones: la solución para el seguimiento del transporte público, la aplicación para el control de servicios de entrega, así como soluciones web para el control de la calidad de conducción, la programación del mantenimiento técnico y muchas más.</p> 
	
	
//   `




















// }


// else if(elemento.matches("#seis")){
// 	e.preventDefault()
//         seis.style.background="#7605f9"
// seis.style.color="white"
// img6.style.fill="white"

// dos.style.background="white"
// dos.style.color="#6B7280"
// img2.style.fill="#6B7280"



// tres.style.background="white"
// tres.style.color="#6B7280"
// img3.style.fill="white"


// cuatro.style.background="white"
// cuatro.style.color="#6B7280"
// img4.style.fill="white"



// cinco.style.background="white"
// cinco.style.color="#6B7280"
// img5.style.fill="white"




// uno.style.background="white"
// uno.style.color="#6B7280"
// img1.style.fill="#6B7280"



// // siete.style.background="white"
// // siete.style.color="#6B7280"
// // img7.style.fill="#6B7280"

// descripcion.innerHTML=` <h3 class="text-lg font-bold text-gray-900  mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="84:69">Solución flexible para cualquier negocio</h3> <p class="mb-2" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="85:20">Personalice los elementos de la interfaz  para usar el sistema bajo su marca. Solicite la opción de marca blanca para modificar:</p> 

// <ul class="mb-5 " data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="86:22">
	
// 	<li class="list__item" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="87:28">Solución fiable para cualquier industria</li>
	
// 	<li class="list__item" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="88:28">Adecuada para proveedores nuevos y experimentados</li> 
	
// 	<li class="list__item" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="89:28">Inicio rápido de su negocio telemático</li> 
	
// 	</ul>
	
// 	<p data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="91:7">También están disponibles las siguientes modificaciones: posición del mapa después de iniciar la sesión en el sistema, enlace a la versión de prueba en la página de inicio de sesión, lista de idiomas de la interfaz, personalización de informes.</p> <p class="mb-7" data-astro-source-file="C:/Users/EMPRESA-PC2/Desktop/proyectos/ubicalo/src/components/Caractersiticas.astro" data-astro-source-loc="92:20">¿Desea aprovechar la opción de marca blanca? No dude en solicitarla ahora mismo.</p>   `
// }



    

})



</script>