---
interface Props {
    url:string
titulo:string
descripcion:string
link:string
}

const {descripcion,titulo,url,link}=Astro.props
---

<article class="flex-1 rounded-lg border border-gray-200/80 bg-white px-6 py-10 flex flex-col gap-4"><div class="relative"><img alt="Consulta" loading="lazy" width="200" height="40" decoding="async" data-nimg="1" class="h-8 w-auto xl:h-10" style="color:transparent"  src={url}></div><div class="space-y-2"><h3 class="text-base font-bold text-gray-950 xl:text-lg xl:leading-tight">{titulo}</h3><p class="text-sm text-gray-700">{descripcion}</p></div>
    
    <a class="inline-flex items-center gap-2 border border-transparent font-bold transition-colors duration-200 focus:outline-none disabled:pointer-events-none disabled:cursor-default disabled:opacity-60 justify-start !p-0 rounded-md px-4 py-2 text-sm group text-primary max-md:text-sm" title="Conoce más sobre Consulta" href={link}>Conoce más<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 transition-all duration-200 group-hover:translate-x-1" aria-hidden="true"><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"></path></svg>
    
    
    </a>

</article>