---
interface Props {
	title: string;
    imagen:string;
    descripcion:string;

}

const { title,imagen,descripcion } = Astro.props;
---


<div class="ventaja flex flex-col gap-1 items-center rounded-md p-4 pb-8 bg-white text-center">
    <div class="ventaja__grupo1 flex flex-col items-center">
        <figure class="p-4 rounded-full bg-[#7AFCD0]">
            <img src={imagen} alt="" >
        </figure>
        <h2 class="text-[1.2rem] text-[#022F36]">{title}</h2>
        

    </div>
<p class="text-[#022f36ce]">{descripcion}</p>



</div>