---
interface Props {
    titulo:string
    sub?:string
}

const {titulo,sub}=Astro.props
---


<div class="w-full max-w-[400px] bg-white rounded-lg s p-6 ss">
  <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Contáctanos</h2> 

  <form class="flex flex-col " id="form">
    <input type="text" class="bg-gray-100 hidden text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Nombres y apellidos" name="emailjs_titulo">
    <input type="text" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Nombres y apellidos" name="emailjs_name">

    <input type="email" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Correo electrónico" name="emailjs_email">

    <input type="number" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Celular" name="emailjs_cel">

    <!-- <input type="text" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Company Name"> -->
    <!-- <input type="text" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Job Title"> -->
    <!-- <input type="date" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Date of Birth"> -->
    <textarea  name="emailjs_descripcion" class="bg-gray-100 text-gray-800 as rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150 h-[120px]" placeholder="Mensaje"></textarea>

    <!-- <input type="submit"  id="button" value="Enviar" class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full  px-5 py-2.5 text-center cursor-pointer block  mx-auto"> -->

    <input type="submit"  id="button" value="Enviar" class="bg-[#030712] text-white font-bold  px-5 py-5 rounded-[.75rem] text-lg mt-4 hover:bg-[#030712ee]  gap-3 group block">
      <figure id="loader" style="display:none" class="mx-auto w-[25%] mt-8">
        <img src="/loader.svg" alt="">
      </figure>
  </form>
</div>





<script is:inline type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script is:inline type="text/javascript">
  emailjs.init('9Jnen7nAVFFHihDII')
</script>

<script is:inline>
    const btn = document.getElementById('button');
const loader=document.getElementById('loader')
document.getElementById('form')
 .addEventListener('submit', function(event) {
   event.preventDefault();
   loader.style.display="block"
   


   btn.value = 'enviando...';

   const serviceID = 'default_service';
   const templateID = 'template_pnf3348';

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      btn.value = 'mensaje enviado';
      loader.style.display="none"
      document.getElementById('form').reset()
      setTimeout( ()=>{
        btn.value = 'enviar';
      },1000)
    }, (err) => {
      btn.value = 'Send Email';
      alert(JSON.stringify(err));
    });
});
</script>

<style>

  .s{
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
  }
  .as{
    border: 1.5px solid #ecedec;
    background-color: white;
  }
  .ss{box-shadow: 2px 5px 9px -1px #ee3c5f;}
</style>