
<header class="header" >
  

    <!-- <div class="contacto">
      <div class="contacto__celular">
        <div class="contacto__asesorate">Asesorate</div>
        <a
          class="contacto__link"
          href="https://api.whatsapp.com/send?phone=51929675190&amp;text=Hola!%20Quiero%20asesoría%20para%20mi%20empresa!"
          target="_blank"
        >
          <img
            class="contacto__icel"
            src="/img/icon/whatsapp.svg"
            alt=""
          />
          929675190
        </a>
      </div>
      <div class="contacto__redes">
        <a
          href="https://www.facebook.com/formalizate"
          class="contacto__icono"
        >
          <img
            class="contacto__icono-logo"
            src="/img/icon/facebook.svg"
            alt="facebook"
          />
        </a>

        <!-- <a href="https://www.instagram.com/formalizate.pe" class="contacto__icono" target="_blank">
          <img
            class="o__icono-logo"
            src="/img/icon/instagram.svg"
            alt="instagran"
          />
        </a>


        <a href="https://www.instagram.com/formalizate.pe" class="contacto__icono" target="_blank">
          <img
            class="o__icono-logo"
            src="/icon/brand-youtube.svg"
            alt="instagran"
          />
        </a>



        <a
          href="https://www.facebook.com/formalizate"
          class="contacto__icono"
        >
          <img
            class="contacto__icono-logo"
            src="/img/icon/brand-tiktok.svg"
            alt="linkendin"
          />
        </a> -->
      </div>
    </div> 

    <nav class="menu max-w-[1300px] mx-auto">
      <div class="flex-1 flex items-center">

        <figure class="menu__logo  ">
          <a href="/" class="menu__link ">
            <img
              class="menu__ilogo xl:w-[200px]"
              src="/logo12.webp"
              alt=""
          /></a>
        </figure> 
  
        <ul class="menu__opciones ">
          <!-- <li class="menu__item">
            <a id="header1" href="/" class="menu__link">Inicio</a>
          
          </li> -->
            <li class="menu__item">
              <a href="#header" class="menu__link chil soluciones flex">Productos<img id="soluciones" src="/abajo.svg" alt=""></a>
             
              <div class="solucionesText">
                <ul class="pl-4 pt-0 flex flex-col gap-4 font-normal xl:gap-4">
                <li class="flex items-center gap-1"> <a class="flex items-center w-[125px] gap-2" href="/gps-vehicular-particular">
                  
                  <figure class="  rounded-xl p-1 w-[60px]" ><img src="/uno.svg" alt="" class="w-full"></figure>
                  
                  <div><h2>Validación de datos</h2>
                  <p class="xl:text-[.9rem] text-[#6b7280]">Personas y Empresas, el servicio de verificación de datos que necesitas.</p>
                  </div>
                  </a> </li>
                  <li class="flex items-center gap-1"> <a class="flex items-center w-[125px] gap-2" href="/gps-vehicular-particular">
                  
                    <figure class="  rounded-xl p-1 w-[50px]" ><img src="/dos.svg" alt="" class="w-full"></figure>
                    
                    <div><h2>Validación digital de identidad</h2>
                    <p class="xl:text-[.9rem] text-[#6b7280]">Conoce quién está al otro lado del teclado fácilmente.</p>
                    </div>
                    </a> </li>



               <li class="flex items-center gap-1"> <a class="flex items-center w-[125px] gap-4" href="/gps-vehicular-particular">
                  
                <figure class="  rounded-xl p-1 w-[60px]" ><img src="/tres.svg" alt="" class="w-full"></figure>
                  
                  <div><h2>Algoritmo de consistencia de datos</h2>
                  <p class="xl:text-[.9rem] text-[#6b7280]">Verifica la validez de los datos de tus usuarios en tus procesos de registro y onboarding.</p>
                  </div>
                  </a> </li>


                  <li class="flex items-center gap-1"> <a class="flex items-center w-[125px] gap-2 xl:gap-3" href="/gps-vehicular-particular">
                    <figure class="  rounded-xl p-1 w-[60px]" ><img src="/cuatro.svg" alt="" class="w-full"></figure>
                    
                    <div><h2>Identificación de visitantes</h2>
                    <p class="xl:text-[.9rem] text-[#6b7280]">Analítica y metadata sobre las acciones de tus visitantes y usuarios.</p>
                    </div>
                    </a> </li>
  
                <!-- <li class="flex items-center gap-1" > <figure class="bg-secundari xl:bg-primary rounded-xl p-1"></figure><a href="/gestion-de-entrega">Gestión de entregas</a></li> 
  
  
                <li class="flex items-center gap-1" > <figure class="bg-secundari xl:bg-primary rounded-xl p-1"></figure><a href="/seguimiento-personal">Seguimiento personal</a></li> 
  
                <li class="flex items-center gap-1" > <figure class="bg-secundari xl:bg-primary rounded-xl p-1"></figure><a href="/analisis-de-la-conduccion-eficiente">Análisis de la conducción eficiente</a></li> 
  
  
                <li class="flex items-center gap-1" > <figure class="bg-secundari xl:bg-primary rounded-xl p-1"></figure><a href="/control-del-consumo-de-combustible">Control del consumo de combustible</a></li>  -->
  
              </ul>
            
            </div>
            </li>
            
          <li class="menu__item">
            <a id="contacto1"   href="/agenda-un-demo" class="menu__link">Agenda un demo</a>
          </li>
          <a id="cotizacion1"   href="/contactanos" class="menu__link bu xl:hidden flex justify-end" style="color: white;"> Contactanos</a>
        </ul>
      </div>
 


      <div class="menu__item flex-1 ass ">
        <a id="cotizacion1"   href="/contactanos" class="menu__link bu hidden xl:flex justify-end"> Contactanos</a>
      </div> 



      <div class="menu__derecha">
        <!-- <div class="menu__ingresar">
          <a class="menu__ingresar-link" href="pages/index.html"
            >Ingresar</a
          >
        </div> -->
        <div class="menu__boton">
          <div class="menu__raya"></div>
        </div>
      </div>
    </nav>
  </header>


  <style>






.logo__whatsapp {
  width: 80%;
}

.header {
  background-color: white;
  padding-inline: .5rem;
  width: 100%;
  top: 0;
 position: sticky;
  top: 0px; 
  z-index: 10;
  transition: background .3s; padding-right: 2rem;
}

@media screen and (min-width: 1200px) {
  .header {
    background-color: transparent;
     position: static;
     padding-inline: 0;
     padding-right: 0;
 
  }
}

.contacto {
  display: flex;
  justify-content: space-between;
  background-color: #027aff;
  padding: 0.5em 1em;
  display: none;
}

@media screen and (min-width: 1200px) {
  .contacto {
    height: 38px;
    padding: 0.5em 2em;
    display: block;
    display: flex;
  }
}

.contacto__asesorate {
  color: white;
}
.contacto__celular {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contacto__link {
  display: flex;
  color: white;
  align-items: center;
  gap: 0.1rem;
}

.contacto__icel {
}

.contacto__numero {
  color: white;
}

.contacto__redes {
  display: flex;
  gap: 1rem;
}

.contacto__icono {
}

.contacto__icono-logo {
}

.menu {
  height: 120px;
  display: flex;
  justify-content: space-between;
 
  align-items: center;
  /* background: #027aff; */
}

@media screen and (min-width: 1200px) {
  .menu {
    height: 80px;
    justify-content: space-evenly;
    /* gap: 4rem; */
   
    align-items: center;
    margin-block:2rem
  }
}

.menu__logo {
  margin: 0;
  position: relative;
  z-index: 40;
  width: 185px;
}
.menu__ilogo {
  width: 125px;

}

@media screen and (min-width: 1200px) {
  .menu__ilogo {
    width: 150px;
    height: auto;
    margin-top: -1rem;
  }
}

.menu__opciones {
  margin: 0;
  list-style: none;
  padding: 0;
  opacity: 0;

  transition: opacity .2s;
  pointer-events: none;
  display: none
}






@media screen and (min-width: 1200px) {
  .menu__opciones {
font-size:1.05rem; 
margin-left: 3rem;
 }
}











.menu__opciones--visible {
  
  font-size: 1rem;
  transition: opacity .5s;
  pointer-events: initial;
  opacity: 1;
  background: white;
  z-index: 30;
  position: fixed;
  height: 100vh;
  width: 100%;

  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 
}


.menu__opciones--visible .menu__link{
  border-bottom: 3px solid #FEF1DE;
  color: black;
}

@media screen and (min-width: 1200px) {
  .menu__opciones {
    display: flex;
    gap: 3rem;
    opacity: 1;
    pointer-events: initial;
  }
}

.menu__item {
  color: white;
}
 @media screen and (min-width:1200px) {
  .menu__item {
  color: initial;
  font-size: 1rem;
}
 }
.menu__link {
  color: black;
 
  ;padding-bottom: 4px;
}

.menu__link--active{

}

@media screen and (min-width: 1200px) {
  .menu__link {
    color: black;

  }


  .menu__link--active{
    border-bottom: 2px solid beige;
    padding-bottom: .1rem;
  }
}

.menu__boton {
  width: 36px;
  height: 30px;
  position: relative;
  z-index: 40;
  transition: transform 0.5s;
}


.menu__derecha {
  display: flex;
  gap: 1.5rem;
}


@media screen and (min-width: 1200px) {
  .menu__boton {
    display: none;

  }
  .menu__derecha {
  display: none;
 
}
}

.menu__raya {
  height: 3px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.menu__boton::before {
  content: "";
  height: 3px;
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 0.5s;
}

.menu__boton::after {
  height: 3px;
  content: "";
  background-color: black;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s;
}
.visible {
  transform: rotate(1turn);
}

.visible::before {
  top: 15px;
  transform: translateY(-60%) rotate(45deg);
}

.visible::after {
  bottom: 15px;
  transform: translateY(50%) rotate(-45deg);
}

.visible .menu__raya {
  display: none;
}



.menu__ingresar {
  padding: 0.4rem;
  background: white;
  border-radius: 6px;
  color: var(--principal);
}
.menu__ingresar-link{
  color: var(--principal);

}


@keyframes blur {
    to {
        box-shadow: 0 5px 50px -5px #0000001a,0 0 0 1px #0000004d;
        background: #0000004d;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px)
    }
}





.solucionesText{
  display: none;
  padding-top: 1rem;
}
.sectoresText{
  display: none;
  z-index: 1000;
}

@media screen and (min-width:1200px){

  .soluciones,.sectores{
    position: relative;
  }
  .solucionesText{
    position: absolute;
  background-color: white;
  box-shadow: 0 4px 20px rgba(153, 174, 205, .64);
  border-radius: 16px;
  top: 4.5rem;
    padding-block: 2rem;
    padding-inline: 2rem;
    z-index: 100;
  }
}

.vis{
  display: block;
 
}

.rotate{
  transform: rotate(180deg);
}
a{
  width: 100%;
}
.ass{
  display: flex;
  justify-content: flex-end;
}
.bu{
  border-radius: .5rem;
  background-color: #ee3c5f;
  justify-content: flex-end;
  padding-inline: 1.3rem;
  padding-block: .7rem;
  color: white;
  font-weight: bold;
  width: fit-content;
}
@media screen and (min-width:1200px){
  a{width: initial;}

  .vis{
    width: 500px;
  }
}
  </style>


<script>


const soluciones=document.querySelector(".soluciones") as HTMLElement
const sectores=document.querySelector(".sectores") as HTMLElement


const solucionesText=document.querySelector(".solucionesText") as HTMLElement

const sectoresText=document.querySelector(".sectoresText") as HTMLElement

const solucionesF=document.getElementById("soluciones") as HTMLElement
const sectoresF=document.getElementById("sectores") as HTMLElement

soluciones.addEventListener("click",(e:any)=>{
  const el=e.target as HTMLElement
e.preventDefault()
console.log(e.target)
solucionesText.classList.toggle("vis")
solucionesF.classList.toggle("rotate")
sectoresText.classList.remove("vis")
sectoresF.classList.remove("rotate")
})

const headerMain=document.querySelector(".header") as HTMLElement






console.log("first")

const $boton=document.querySelector(".menu__boton")
const $opciones=document.querySelector(".menu__opciones") as HTMLElement

const $raya=document.querySelector(".menu__raya")
const $before=document.querySelector(".menu__raya::before")

const $after=document.querySelector(".menu__raya::after")
document.addEventListener("click",(e)=>{
if(e.target !== null && e.target instanceof HTMLElement){
  if(e.target.matches(".menu__boton")){

console.log("first")
$opciones.classList.toggle("menu__opciones--visible")
e.target.classList.toggle("visible")
// $raya.style.display="none"
// $before.classList.toggle("before")

// $after.classList.toggle("after")


}
}
   


})

</script>