---
import SolucionesItem from "./SolucionesItem.astro";
---

<div  class="max-w-[1200px] mx-auto p-4 py-12">
	<h2 class="text-2xl font-black xl:text-[2.3rem] text-[#273043] leading-tight text-center xl:text-start">SERVICIOS</h2>
    <div class="flex flex-col gap-8 xl:flex-row xl:flex-wrap">


<SolucionesItem titulo="gps vehicular particular" descripcion="Rastreo GPS para la industria del financiamiento y arrendamiento automotriz." boton="Leer más" destino="/gps-vehicular-particular" img="/carro.svg" />

<SolucionesItem titulo="gps vehicular para flotas" descripcion="Controle la siembra y las cultivaciones por medio de Hecterra." boton="Leer más" destino="/gps-vehicular-para-flotas" img="/ubicacion.svg" />


 

<SolucionesItem titulo="gps para contrataciones con el estado" descripcion="La aplicación web está desarrollada para planificar y controlar los gastos relacionados con la explotación de vehículos." boton="Leer más" destino="/gps-para-contrataciones-con-el-estado" img="/ubicacion.svg" />


<SolucionesItem titulo="servicio tráfico iot - m2m" descripcion="El servicio permite crear rutas, gestionar horarios, rastrear el movimiento en tiempo real y analizar la ejecución de rutinas en una interfaz amigable." boton="Leer más" destino="/servicio-iot-m2m" img="/entrega.svg" />
<!-- 
<SolucionesItem titulo="Gestión de entregas" descripcion="El servicio Logistics está diseñado para controlar todas las etapas del servicio de distribución." boton="Leer más" destino="/gestion-de-entrega" img="/gestion.svg" />

<SolucionesItem titulo="Seguimiento personal" descripcion="Ubicalo convierte su dispositivo móvil en un rastreador GPS que sigue el movimiento de su propietario." boton="Leer más" destino="/seguimiento-personal" img="/personal.svg" />

<SolucionesItem titulo="Análisis de la conducción eficiente" descripcion="Eco Driving es una aplicación desarrollada para controlar la calidad de conducción." boton="Leer más" destino="/analisis-de-la-conduccion-eficiente" img="/co.svg" />

<SolucionesItem titulo="Control del consumo de combustible" descripcion="La app puede procesar los datos de FLS, contadores, CAN y calcular el consumo exacto en diferentes circunstancias." boton="Leer más" destino="/control-del-consumo-de-combustible" img="/combustible.svg" />






 -->





    </div>
    </div>